h1.big_title {
    transition: transform 300ms ease-in-out, opacity 400ms ease-in-out;
}


/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */

.container:hover h1.big_title {
    transform: translateY(-1rem);
    opacity: 0.2;
}

h2.tags {
    transition: transform 300ms ease-in-out, opacity 350ms ease-in-out;
    opacity: 0;
    position: absolute;
    top:2.5rem;
    left: 0;
    right:0;
}

.container:hover h2.tags {
    transform: translateY(2.5rem);
    opacity: 1;
}
